/** Header **/
.navbar, header {
    background: url('images/engenharia.jpg') no-repeat center center fixed;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position: center;
    border: none;
 }

 body{
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.navbar-brand{
    filter: grayscale(100%);
    opacity: 0.5;
}

.navbar-brand:hover{
    opacity: 1;
}

.bv{
    font-size: 36px;
}

.nt{
    font-size: 45px;
}

.btn-success{
    background-color: #FF5D02;
    border:none;
}
/** Header **/

/** Time **/
#time{
    background-color:#EFEDED;
}
.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    border: none;
    background-color:#EFEDED;
}
/** Time **/

/** Contato **/
#contato{
    background: url('images/maps-g613c067b9_1280\ 1.png') no-repeat center center fixed;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position: center;
    border: none;
}

.btn-warning{
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:20%;
    position:absolute;
}
/** Contato **/
